<%- include ./partials/header.ejs%>

    <div id="boxBoxBox">

    </div>

    <div id="main">
        <div class="card bg-dark text-white">
            <img src="https://images.unsplash.com/photo-1636753262782-edd4c451ca53?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80" class="card-img" alt="...">
            <div class="card-img-overlay .d-flex" >
                <div class="card" id="profilePic" style="width: 18rem;">
                    <img src="../images/uploads/<%= name.profilePic[name.profilePic.length-1] %>" class="card-img-top" alt="...">
                    <div id="profileBox">
                        <!-- <a id="profilePicForm" href="/profilePic/<%=name._id%>" class=" text-decoration-none">Chnage Profile Picture</a> -->
                        <form action="/profilePic" enctype="multipart/form-data" method="post">
                            <input id="Ppic" onchange="this.form.submit()" type="file" name="picture">
                           
                            <a href="/seeAllProfilePics">See All Profile Pics</a>
                        </form>
                    </div>

                  </div>
                <h1 id="Username"><%=name.username%> </h1>

            </div>

          </div>
        
        <div id="box">
            <h1>
                <%=name.username%>       
                <%if(name.story === null){%>
                  <a href="/story" class="btn btn-primary ">Create Story</a>
                <%}else{%>
                  <style>
                    #storyCard{
                      position: absolute;
                     left: 130%;
                      top: 40%;
                    }
                  </style>
                  <div class="card" id="storyCard" style="width: 18rem;">
                    <img src="../images/uploads/<%=name.story.currentStory%>" class="card-img-top" alt="...">
                    <div class="card-body">
                   
                      <p class="card-text"><%=name.story.content%></p>
                      
                    </div>
                  </div>
                  
               <% }%>
               
            </h1>
            <h3>Hii! I just started using orion!</h3>

            <form action="/createPost" enctype="multipart/form-data" method="post">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Create Post</h5>
                      <br>
                      <input type="text" placeholder="Post Here..." name="post">
                        <br>
                        <input type="file" value="Add Image" name="picture">
                      <input type="submit" value="Post">
                    </div>
                  </div>
               
            </form>
        </div>

        

    </div>

    <div id="main2">

      <%if(name.posts.length <= 0 && name.sharedPosts.length <= 0 ){%>
        <h1>No posts at the moment</h1>
    <%} else{%>

        <div id="box2">
         
                <%name.posts.forEach(function(post){%>

                  <div class="card" style="width: 18rem;">
                    <img src="../images/uploads/<%=post.image%>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">  User | <%=name.username%></h5>
                      <p class="card-text"><%=post.content%></p>
                     
                      <a href="/likes/<%=post._id%>" class="btn btn-primary my-3"><%=post.likes.length%> Likes</a>
                      <a href="/comment/<%=post._id%>" class="btn btn-warning"> <%=post.comments.length%> Comment</a>
            
                      <a href="/delete/<%=post._id%>" class="btn btn-danger">Delete</a>
                      <a href="/update/<%=post._id%>" class="btn btn-warning">edit</a>
                    </div>
                  </div>
                   
                    <% })%>
          
           
        </div>


        
        <div id="box2">
           
                <%name.sharedPosts.forEach(function(post){%>
                    <div class="card">
                        <div class="card-header">
                          <%=name.username%> Shared <%=post.postingUser%>'s post at <%=name.Date%>
                        </div>
                        <div class="card-body">
                          
                          <p class="card-text"><%=post.content%></p>
                          <p></p>
                          <a href="/likes/<%=post._id%>" class="btn btn-primary"><%=post.likes.length%> Likes</a>
                          <a href="/comment/<%=post._id%>" class="btn btn-warning"> <%=post.comments.length%> Comment</a>
                         
                        </div>
                      </div>
                    <% })%>
     <%  }%>
    </h1>

    
    <style>
      #boxBoxBox{
        height: auto;
        width: 200px;
        background-color: #fff;
        position: absolute;
        z-index: 9999;
        top: 5%;
        left: 13.5%;
      }

      #dropDown{
        text-align: center;
        display: flex;
        height: 5vh;
        width: 200px;
        margin-top: 5px;
        background-color: rgb(226, 232, 255);
      }

      #dropDown h1{
        font-size: 25px;
      }
    </style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js" integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
 var inputField =  document.querySelector("#uname");
 var box = document.querySelector("#boxBoxBox");
     inputField.addEventListener("input", function(e){
      //  console.log(inputField.value)
      temp = ``;
      axios.get(`/user/${inputField.value}`)
      .then(function(AvailableUser){
        console.log(AvailableUser)
        AvailableUser.data.forEach(function(data, index){
          temp +=  `<div id="dropDown">
          <h1 id="${index}">${data.username}</h1>
        </div>`
        })
       
        box.innerHTML = temp

        box.addEventListener("click", function(e){
            console.log(e.target.innerText)

        })
            // console.log(AvailableUser)
          ;
          // console.log(AvailableUser.data.username)
      })
     })
    </script>
    <%- include ./partials/footer.ejs %>